*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.background{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d5d4d1;
}

.timer-parent{
    height: 100vh;
    padding: 30px;
    background-color: #c9c7c7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer-parent button{
    background-color: #e0cfb5;
    color: white;
    border: none;
    width: 100%;
    padding: 10px 20px;
    border-radius: 7px;
    margin-bottom: 40px;
}

.board{
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
    outline: 5px solid #601919;
    margin: auto;
}

.title{
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: calc(64px * 8);
}

.cell{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img{
    width: 48px;
    height: 48px;
    position: relative;
}

.white-cell{
    background-color: #F9DAAF;
}

.black-cell{
    background-color: #C06232;
}

.selected-cell{
    background-color: #6c2810;
}

.available-cell{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #5BB017;
}

.green-cell{
    background-color: #5BB017;
}

.lost-parent{
    display: flex;
}

.lost{
    height: 100vh;
    padding: 30px;
    background-color: #c9c7c7;
}

.lost img{
    width: 15px;
    height: 15px;
}