*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.background{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

.board{
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
    outline: auto #76371d;
}

.cell{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img{
    width: 48px;
    height: 48px;
    position: relative;
}

.white-cell{
    background-color: #fae6b5;
}

.black-cell{
    background-color: #875326;
}