*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.background{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

.board{
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
    outline: 5px solid #601919;
}

.cell{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img{
    width: 48px;
    height: 48px;
    position: relative;
}

.white-cell{
    background-color: #F9DAAF;
}

.black-cell{
    background-color: #C06232;
}

.selected-cell{
    background-color: #6c2810;
}

.available-cell{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #5BB017;
}

.green-cell{
    background-color: #5BB017;
}